body{
    background-color: white; 
    margin: 0;
    overflow: hidden;
}

section{
    display: flex;
}

.sobre{    
    width:50vw;
    align-items: center;
    justify-content: left;
    margin-left: 38%;
    margin-top: 11%;
    font-family: 'Comfortaa';
    font-size: 20pt; 
    text-align: center;   
}
h1{
    color: black;
    font-weight: lighter;
}
p{
    color: grey;
    font-family: 'Work Sans', sans-serif;
    font-size: 17pt;
}
#img{
    background-image: url(../imagens/sobre/FullSizeRender.jpg);
    background-size: 78%;
    position: absolute;
    left: 0;
    width: 47%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
}

.logo{
    display: flex;
    width: 8%;
    height: 8%;
    margin-right: 2%;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;    
}
a{
    color: rgb(43, 41, 41);
    font-size: 25pt;
    display: flex;
    text-decoration: none;
    padding-top: 28%;
    font-family: 'Comfortaa', cursive;
    
}